
h1 {
    color: #2c29ee !important; 
    font-weight: normal;
    font-size: 40px;
    font-family: Arial;
   
  }

  .carousel h4{
    color: #0e0e0f !important; 
  }

  body{
    background: rgb(130, 204, 209) !important;
  }